/* Figure Styles */
figure {
    margin: 5px 10%;
    clear:both;
    padding: 10px;
    border-radius: 10px;
}

figure {
    display: flex;
}

figure:after {
    content: "";
    display: table;
    clear: both;
}

figure:nth-of-type(odd) {
    background-color: #8faab5;
    color: white;
    box-shadow: #8faab5 0px 0px 25px;
}

figure:nth-of-type(even) {
    background-color: #8fb59b;
    color: white;
    box-shadow: #8fb59b 0px 0px 25px;
}

figure.leftP div#p {
    color: #e3ffea;
    margin-right: 15px;
}

figure.rightP div#p {
    color: #f2f5fc;
    margin-left: 15px;
}

figure img {
    border-radius: 30px;
}

div#img {
    margin: auto 0;
}