@charset "utf-8";

html {
    background: linear-gradient(#fafafa, #abd5ff);
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    min-width: 640px;
    background-color: #e9eff5;
    height: 1000px;
    box-shadow: gray 0px 0px 30px;
}