@charset "utf-8";

html {
    background: linear-gradient(#abd5ff, #fafafa) no-repeat;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    min-width: 640px;
    background-color: #e9eff5;
    box-shadow: gray 0px 0px 30px;
}


header {
    text-align: center;
}