@charset "utf-8";


    /* Layout Styles */
html {
    background: linear-gradient(#abd5ff, #fafafa) no-repeat;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    min-width: 640px;
    background-color: #e9eff5;
    box-shadow: gray 0px 0px 30px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    clear: both;
    text-align: center;
    font-size: 1.2em;
    margin-top: 5px;
    line-height: 23px;
}

    /* Link Styles */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: coral;
}

    /* Header Styles */
header, h1 {
    text-align: center;
}

header div.column {
    float: left;
}

header div.column#img {
    display: flex;
    width: 40px;
    margin-left: 20px;
}

header div.column#spacer {
    width: 240px;
}

header div.column#name {
    width: 360px;
    font-family:'Courier New', Courier, monospace
}

header div.column#nav {
    float: right;
    width: 70px;
    margin-top: 30px;
    font-size: 1.1em;
}

header div.row:after {
    content: "";
    display: table;
    clear: both;
}