ul {
    float: left;
    margin-right: 50px;
}

fieldset {
    margin: 0px 10%;
    line-height: 20px;
}

fieldset legend {
    font-size: 1.1em;
    color: green;
}

dt {
    font-size: 1.1em;
    font-weight: bold;
    float: left;
}

dt#right {
    float: right;
    font-weight: normal;
    font-style: italic;
    font-size: 1.0em;
}

dt#right::after {
    clear: both;
}

#enter {
    clear: both;
}

ul {
    margin: 10px 0px;
}

hr {
    clear: both;
}

img {
    float: left;
}

div.resume div.column {
    float: left;
    width: 100%;
    margin: 0 auto;
}